<a href="https://colab.research.google.com/github/dduniverse/datacampus/blob/main/DA/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Series

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
print(type(pd.Series(1)))
print(type(pd.Series(0.1)))
print(type(pd.Series('str')))
print(type(pd.Series(True)))
print(type(pd.Series(['list'])))
print(type(pd.Series([('tuple')])))
print(type(pd.Series([{'key':'value'}])))
print(type(pd.Series(np.ones((10)))))
print(type(pd.Series(pd.Series(['list']))))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [ ]:
ss=pd.Series([-4,7,-5,3],index=['d','b','a','c'])
print(type(ss))
print(ss.shape)
print(ss.ndim)
print(ss.dtype)
print(ss.values)
print(ss.index)

<class 'pandas.core.series.Series'>
(4,)
1
int64
[-4  7 -5  3]
Index(['d', 'b', 'a', 'c'], dtype='object')

In [ ]:
sdata={'Ohio':35000,'Texas':71000,'Oregon':16000,'Utah':5000}
ss=pd.Series(sdata)
print(ss)

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [ ]:
states=['California','Ohio','Oregon','Texas']
ss=pd.Series(sdata,index=states)
print(ss)

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [ ]:
print(ss['Ohio'])
print(type(ss['Ohio']))

35000.0
<class 'numpy.float64'>

In [ ]:
print(ss.Ohio) # 속성으로 값을 찾을 수 있다
print(type(ss.Ohio))

35000.0
<class 'numpy.float64'>

In [ ]:
print(ss[['Ohio','California']]) # 입력한 순서대로 출력됨

Ohio          35000.0
California        NaN
dtype: float64

In [ ]:
print(ss[ss<40000])

Ohio      35000.0
Oregon    16000.0
dtype: float64

In [ ]:
print('Texas'in ss)
print('Utah' in ss)
print('California' in ss)

True
False
True

In [ ]:
print(ss*2)
print(np.sqrt(ss))

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
dtype: float64
California           NaN
Ohio          187.082869
Oregon        126.491106
Texas         266.458252
dtype: float64

In [ ]:
sdata={'Ohio':35000,'Texas':71000,'Oregon':16000}
states=['California','Ohio','Oregon','Texas']
ss=pd.Series(sdata,index=states)

sdata={'Ohio':35000,'Texas':71000,'Oregon':16000,'Utah':5000}
ss2=pd.Series(sdata)

print(ss+ss2) # Series끼리 산술연산 가능. 없는 값과 산술 연산하면 NaN으로 출력됨

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [ ]:
del(ss2['Utah'])
ss2

Ohio      35000
Texas     71000
Oregon    16000
dtype: int64

In [ ]:
ss3=ss2 # ss3은 ss2를 가리킴, not 복사
del(ss3['Utah'])
ss2 # ss3에서 삭제하면 ss2에서도 삭제됨.

Ohio      35000
Texas     71000
Oregon    16000
dtype: int64

In [ ]:
ss2.drop('Utah')
ss2 # ss2=ss2.drop()해주어야 ss2에 반영됨.

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [ ]:
# DataFrame

In [ ]:
import pandas as pd
df=pd.DataFrame()

In [ ]:
print(type(pd.DataFrame(['list'])))
print(type(pd.DataFrame([('tule')])))
print(type(pd.DataFrame([{'key':'value'}])))
print(type(pd.DataFrame(np.ones((2,3)))))
print(type(pd.DataFrame(pd.DataFrame(['list']))))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [ ]:
df=pd.DataFrame([-4,7,-5,3],index=['d','b','a','c'])
print(type(df))
print(df.shape)
print(df.ndim)
print(df.dtypes)
print(df.values)
print(df.index)
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
(4, 1)
2
0    int64
dtype: object
[[-4]
 [ 7]
 [-5]
 [ 3]]
Index(['d', 'b', 'a', 'c'], dtype='object')
RangeIndex(start=0, stop=1, step=1)

In [ ]:
data={'state':['Ohio','Ohio','Ohio','Nevada','Nevada','Nevade'],
      'year':[2000,2001,2002,2001,2002,2003],
      'pop':[1.5,1.7,3.6,2.4,2.9,3.2]}
df=pd.DataFrame(data)
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevade  2003  3.2

In [ ]:
df.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [ ]:
df.tail()

    state  year  pop
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevade  2003  3.2

In [ ]:
df2=pd.DataFrame(data,columns=['year','state','pop','debt'],index=['one','two','three','four','five','six'])
df2.columns=['year1','state1','pop1','debt1']
df2

       year1  state1  pop1 debt1
one     2000    Ohio   1.5   NaN
two     2001    Ohio   1.7   NaN
three   2002    Ohio   3.6   NaN
four    2001  Nevada   2.4   NaN
five    2002  Nevada   2.9   NaN
six     2003  Nevade   3.2   NaN

In [ ]:
df['state'] # df에는 index 정보가 없기 때문에 0,1,2,3,4,5로 출력됨

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevade
Name: state, dtype: object

In [ ]:
df.state

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevade
Name: state, dtype: object

In [ ]:
df[['state','year']]

    state  year
0    Ohio  2000
1    Ohio  2001
2    Ohio  2002
3  Nevada  2001
4  Nevada  2002
5  Nevade  2003

In [ ]:
df2.loc['three'] # index가 three인 행 출력

year1     2002
state1    Ohio
pop1       3.6
debt1      NaN
Name: three, dtype: object

In [ ]:
print(type(df['state']))
print(type(df2.loc['three']))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [ ]:
df2['debt1']=16.5
df2

       year1  state1  pop1  debt1
one     2000    Ohio   1.5   16.5
two     2001    Ohio   1.7   16.5
three   2002    Ohio   3.6   16.5
four    2001  Nevada   2.4   16.5
five    2002  Nevada   2.9   16.5
six     2003  Nevade   3.2   16.5

In [ ]:
df2['debt1']=np.arange(6)
df2

       year1  state1  pop1  debt1
one     2000    Ohio   1.5      0
two     2001    Ohio   1.7      1
three   2002    Ohio   3.6      2
four    2001  Nevada   2.4      3
five    2002  Nevada   2.9      4
six     2003  Nevade   3.2      5

In [ ]:
df2['debt1']=np.NaN
df2

       year1  state1  pop1  debt1
one     2000    Ohio   1.5    NaN
two     2001    Ohio   1.7    NaN
three   2002    Ohio   3.6    NaN
four    2001  Nevada   2.4    NaN
five    2002  Nevada   2.9    NaN
six     2003  Nevade   3.2    NaN

In [ ]:
val=pd.Series([-1.2,-1.5,-1.7],index=['two','four','five'])
df2['debt1']=val
df2

       year1  state1  pop1  debt1
one     2000    Ohio   1.5    NaN
two     2001    Ohio   1.7   -1.2
three   2002    Ohio   3.6    NaN
four    2001  Nevada   2.4   -1.5
five    2002  Nevada   2.9   -1.7
six     2003  Nevade   3.2    NaN

In [ ]:
df2['eastern']=(df2.state1=='Ohio') # 열 추가
df2

       year1  state1  pop1 debt1  eastern
one     2000    Ohio   1.5   NaN     True
two     2001    Ohio   1.7   NaN     True
three   2002    Ohio   3.6   NaN     True
four    2001  Nevada   2.4   NaN    False
five    2002  Nevada   2.9   NaN    False
six     2003  Nevade   3.2   NaN    False

In [ ]:
del df2['eastern'] # 열 삭제
df2

       year1  state1  pop1 debt1
one     2000    Ohio   1.5   NaN
two     2001    Ohio   1.7   NaN
three   2002    Ohio   3.6   NaN
four    2001  Nevada   2.4   NaN
five    2002  Nevada   2.9   NaN
six     2003  Nevade   3.2   NaN

In [ ]:
dfnd=pd.DataFrame(np.arange(16).reshape((4,4)),
                  index=['Ohio','Colorado','Utah','New York'],
                  columns=['one','two','three','four'])
dfnd

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [ ]:
dfnd=dfnd.drop(['Colorado','Ohio']) # index 정보, axis=0 기본값:행
dfnd

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [ ]:
dfnd.drop('two',axis=1) # axis=1 열

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

In [ ]:
dfnd.drop(['two','four'],axis='columns')

          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

In [ ]:
dfnd.drop('Utah',inplace=True)
dfnd

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York   12   13     14    15

In [ ]:
pop={'Nevada':{2001:2.4,2002:2.9},
     'Ohio':{2000:1.5,2001:1.7,2002:3.6}}
df3=pd.DataFrame(pop)
df3

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [ ]:
df3.T # 전치 행렬

        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5

In [ ]:
pd.DataFrame(pop,index=[2001,2002,2003])

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN

In [ ]:
ss.name='population'
ss.index.name='state'
print(ss)

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [ ]:
df3.name='population'
df3.index.name='year'
df3.columns.name='state'
df3

state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5

In [ ]:
print(ss.values)
print(df3.values)

[   nan 35000. 16000. 71000.]
[[2.4 1.7]
 [2.9 3.6]
 [nan 1.5]]

In [ ]:
print(type(ss.values))
print(type(df3.values))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [ ]:
ss=pd.Series(np.arange(4.),index=['a','b','c','d'])
print(ss['b'])
print(ss[1])
print(ss[:2])

1.0
1.0
a    0.0
b    1.0
dtype: float64

In [ ]:
print(ss[['b','a','d']])
print(ss[[1,3]])
print(ss[ss<2])

b    1.0
a    0.0
d    3.0
dtype: float64
b    1.0
d    3.0
dtype: float64
a    0.0
b    1.0
dtype: float64

In [ ]:
print(ss['b':'c'])

b    1.0
c    2.0
dtype: float64

In [ ]:
ss['b':'c']=5
print(ss)

a    0.0
b    5.0
c    5.0
d    3.0
dtype: float64

In [ ]:
df=pd.DataFrame(np.arange(16).reshape((4,4)),
                  index=['Ohio','Colorado','Utah','New York'],
                  columns=['one','two','three','four'])
df['two']

Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int64

In [ ]:
df[:2]

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7

In [ ]:
df[['three','one']]

          three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
New York     14   12

In [ ]:
df<5

            one    two  three   four
Ohio       True   True   True   True
Colorado   True  False  False  False
Utah      False  False  False  False
New York  False  False  False  False

In [ ]:
df[df['three']>5]

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [ ]:
df[df<5]=0
df

          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [ ]:
df.loc['Colorado',['two','three']]

two      5
three    6
Name: Colorado, dtype: int64

In [ ]:
df.loc[['Colorado','New York'],'one']

Colorado     0
New York    12
Name: one, dtype: int64

In [ ]:
df.loc[:'Utah','two']

Ohio        0
Colorado    5
Utah        9
Name: two, dtype: int64

In [ ]:
ser=pd.Series(np.arange(3.))
print(ser[-1]) # 오류 발생

KeyError: ignored

In [ ]:
ser2=pd.Series(np.arange(3.),index=['a','b','c'])
print(ser2[-1])

2.0

In [ ]:
ser=pd.Series(np.arange(3.))
print(ser.loc[1])

ser2=pd.Series(np.arange(3.),index=[1,2,3])
print(ser2.loc[1])

1.0
0.0

In [ ]:
ser2=pd.Series(np.arange(3.),index=[3,2,1])
print(ser2.loc[:1])

3    0.0
2    1.0
1    2.0
dtype: float64

In [ ]:
ser=pd.Series(np.arange(3.))
print(ser.iloc[1]) # iloc은 기존 파이썬 문법처럼 사용
print(ser.iloc[:1]) # 마지막 1번은 미출력 -> 0번 값!!!

1.0
0    0.0
dtype: float64

In [ ]:
ser2=pd.Series(np.arange(3.),index=[1,2,3])
print(ser2.iloc[1])
print(ser2.iloc[:1])

1.0
1    0.0
dtype: float64

In [ ]:
df=pd.DataFrame(np.arange(16).reshape((4,4)),
                  index=['Ohio','Colorado','Utah','New York'],
                  columns=['one','two','three','four'])
df.iloc[1] # 1번에 위치한 Colorado

one      4
two      5
three    6
four     7
Name: Colorado, dtype: int64

In [ ]:
df.iloc[:2] # 0번, 1번

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7

In [ ]:
df.iloc[2,2] # 2행 2열 값

10

In [ ]:
df.iloc[:2,2] # 행은 0행,1행, 열은 2행만

Ohio        2
Colorado    6
Name: three, dtype: int64

In [ ]:
s1=pd.Series([7.3,-2.5,3.4,1.5],index=['a','c','d','e'])
s2=pd.Series([-2.1,3.6,-1.5,4,3.1],index=['a','c','e','f','g'])
print(s1+s2) # index가 일치하지 않는 행은 결측치 처리

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [ ]:
df1=pd.DataFrame(np.arange(9.).reshape((3,3)),columns=['b','c','d'],index=['Ohio','Texas','Colorado'])
df2=pd.DataFrame(np.arange(12.).reshape((4,3)),columns=['b','d','e'],index=['Utah','Ohio','Texas','Oregon'])
df1+df2 # index가 일치하지 않는 행은 결측치 처리

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

In [ ]:
df1.T+df2.T # 역행렬 연산 가능

   Colorado  Ohio  Oregon  Texas  Utah
b       NaN   3.0     NaN    9.0   NaN
c       NaN   NaN     NaN    NaN   NaN
d       NaN   6.0     NaN   12.0   NaN
e       NaN   NaN     NaN    NaN   NaN

In [ ]:
df1=pd.DataFrame(np.arange(12.).reshape((3,4)),columns=['a','b','c','d'])
df2=pd.DataFrame(np.arange(20.).reshape((4,5)),columns=['a','b','c','d','e'])
df1+df2 # 결측치 발생

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [ ]:
df1.add(df2,fill_value=0) # 결측치는 0으로 채워서 연산
# df2.add(df1,fill_value=0)
# pd.DataFrame.add(df1,df2,fill_value=0)
# pd.DataFrame.add(df2,df1,fill_value=0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [ ]:
df1.rdiv(1) # 1/df1 과 같다

       a         b         c         d
0    inf  1.000000  0.500000  0.333333
1  0.250  0.200000  0.166667  0.142857
2  0.125  0.111111  0.100000  0.090909

In [ ]:
df=pd.DataFrame(np.arange(12.).reshape((4,3)),columns=['b','c','d'],index=['Utah','Ohio','Texas','Oregon'])
ss=df.iloc[0]
df-ss # DataFrame과 Series 연산 가능

          b    c    d
Utah    0.0  0.0  0.0
Ohio    3.0  3.0  3.0
Texas   6.0  6.0  6.0
Oregon  9.0  9.0  9.0

In [ ]:
ss2=pd.Series(range(3),index=['b','e','f'])
df+ss2

          b   c   d   e   f
Utah    0.0 NaN NaN NaN NaN
Ohio    3.0 NaN NaN NaN NaN
Texas   6.0 NaN NaN NaN NaN
Oregon  9.0 NaN NaN NaN NaN

In [ ]:
ss3=df['d']
df.add(ss3,axis=0)

           b     c     d
Utah     2.0   3.0   4.0
Ohio     8.0   9.0  10.0
Texas   14.0  15.0  16.0
Oregon  20.0  21.0  22.0

In [ ]:
ss=pd.Series(range(4),index=['d','a','b','c'])
df=pd.DataFrame(np.arange(8).reshape((2,4)),
                index=['three','one'],
                columns=['d','a','b','c'])
print(ss.sort_index()) # ss의 index 기준으로 정렬

a    1
b    2
c    3
d    0
dtype: int64

In [ ]:
df.sort_index() # df의 index 기준으로 정렬

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [ ]:
df.sort_index(axis=1) # df의 column 기준 정렬(axis=1), 오름차순(기본값)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [ ]:
df.sort_index(axis=1,ascending=False) # df의 column 기준 정렬(axis=1), 내림차순(ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [ ]:
ss=pd.Series([4,np.nan,7,np.nan,-3,2])
print(ss.sort_values()) # 값을 기준으로 정렬
print(ss.sort_values(na_position='first')) # 결측치가 앞에 위치

4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64
1    NaN
3    NaN
4   -3.0
5    2.0
0    4.0
2    7.0
dtype: float64

In [ ]:
df=pd.DataFrame([[4,0],[7,1],[-3,0],[2,1]],columns=['b','a'])
df.sort_values(by='b') # b 기준으로 정렬

   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

In [ ]:
df.sort_values(by=['a','b'])[['a','b']] # 1)a기준, 2)b기준으로 정렬, a,b순으로 출력

   a  b
2  0 -3
0  0  4
3  1  2
1  1  7

In [ ]:
ss=pd.Series([7,-5,7,4,2,0,4])
print(ss.rank())
print(ss.rank(method='first')) # first:동점자가 있을 경우, 먼저나오는 index 부터 순위 부여
print(ss.rank(ascending=False,method='max')) # max:동점자 중 가장 높은 등수 (1등,2등 -> 2등 부여)
print(ss.rank(method='first').sort_values())

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64
0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64
0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64
1    1.0
5    2.0
4    3.0
3    4.0
6    5.0
0    6.0
2    7.0
dtype: float64

In [ ]:
df=pd.DataFrame({'b':[4.3,7,-3,2],'a':[0,1,0,1],'c':[-2,5,8,-2.5]})
df.rank()

     b    a    c
0  3.0  1.5  2.0
1  4.0  3.5  3.0
2  1.0  1.5  4.0
3  2.0  3.5  1.0

In [ ]:
df.rank(axis='columns')

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

In [ ]:
ss=pd.Series([4.5,7.2,-5.3,3.6],
             index=['d','b','a','c'])
ss2=ss.reindex(['a','b','c','d','e']) # 새로운 인덱스 정보가 추가되면 값은 결측치 처리
ss2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [ ]:
df=pd.DataFrame(np.arange(9).reshape((3,3)),
                index=['a','c','d'],
                columns=['Ohio','Texas','California'])
df2=df.reindex(['a','b','c','d'])

states=['Texas','Utha','California']
df3=df.reindex(columns=states)

In [ ]:
df

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [ ]:
df2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [ ]:
df3

   Texas  Utha  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [ ]:
df4=df2.reindex(columns=states)
df4

   Texas  Utha  California
a    1.0   NaN         2.0
b    NaN   NaN         NaN
c    4.0   NaN         5.0
d    7.0   NaN         8.0

In [ ]:
ss=pd.Series(['blue','purple','yellow'],index=[0,3,5])
print(ss.reindex(range(7),method='ffill')) # ffill 마지막에 관찰된 값으로 채움
print(ss.reindex(range(7),method='bfill')) # bfill 다음에 관찰된 값으로 채움
print(ss.reindex(range(7),method='nearest')) # 가장 가깝게 관찰된 값을 채움

0      blue
1      blue
2      blue
3    purple
4    purple
5    yellow
6    yellow
dtype: object
0      blue
1    purple
2    purple
3    purple
4    yellow
5    yellow
6       NaN
dtype: object
0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
6    yellow
dtype: object

In [ ]:
ss=pd.Series(range(3),index=['a','b','c'])
print(ss.index.is_unique)

True

In [ ]:
ss=pd.Series(range(5),index=['a','a','b','b','c'])
print(ss.index.is_unique)

False

In [ ]:
print(type(ss['a']))
print(type(ss['c']))

<class 'pandas.core.series.Series'>
<class 'numpy.int64'>

In [ ]:
ss=pd.Series(['a','a','b','c']*4)
ss.describe()

count     16
unique     3
top        a
freq       8
dtype: object

In [ ]:
ss=pd.Series(['a','a','b','c','b','c','c','a','d'])
print(ss.unique())
print(ss.value_counts())

['a' 'b' 'c' 'd']
a    3
c    3
b    2
d    1
dtype: int64

In [ ]:
mask=ss.isin(['b','c'])
print(mask)
print(ss[mask])

0    False
1    False
2     True
3     True
4     True
5     True
6     True
7    False
8    False
dtype: bool
2    b
3    c
4    b
5    c
6    c
dtype: object